body {
    padding: 50px;
}
footer {
}

#hammerImage {
    height: 40px;
}

/*
 * Login Page
 */

#titleBar {
    text-align: center;
}

#formHolder {
    margin-left: 30%;
    margin-right: 30%;
}

/*
 * Browse Page
 */
#content {
    height: 700px;
}

#sideBar {
    height: 700px;
}

#productTable{
    height:700px;
    overflow-y: auto;
}

#navBtns {
    float: right;
}

/**
 * Register Page
 */
#searchTable {
    height:650px;
    overflow-y: auto;
}


