

/*Dylan Cross ID#15219491
 *Jordan Felix ID#15152699
 *Assignment 3
 */

body {
    padding: 50px;
}
footer {
}

/**
 * Nav
 */
#hammerImage {
    height: 40px;
}

/*
 * Login Page
 */
#titleBar {
    text-align: center;
}

#formHolder {
    /*margin-right: 40%;*/
    height:700px;
}

#logo {
    height: 700px;
}
#logoImage {
    width: 300px;
    padding-left: 20%;
}


/*
 * Browse Page
 */
#content {
    height: 700px;
}

#sideBar {
    height: 700px;
}

#productTable{
    height:700px;
    overflow-y: auto;
}

#navBtns {
    float: right;
}

/**
 * Register Page
 */
#searchTable {
    height:650px;
    overflow-y: auto;
}


