body {
    padding: 50px;
}

/*
 * Login Page
 */

#titleBar {
    text-align: center;
}

#formHolder {
    margin-left: 30%;
    margin-right: 30%;
}

/*
 * Browse Page
 */

#search {
    height:400px;
    overflow-y: auto;
}

footer {

}
